= form_for @property do |f|
  - if @property.errors.any?
    #error_explanation
      %h2= "#{pluralize(@property.errors.count, "error")} prohibited this property from being saved:"
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg
  .span6
    .field.form-group
      = f.label :title
      = f.text_field :title, class: "input-block-level"
    .field
      = f.label :short_desc
      = f.text_area :short_desc, class: "input-block-level"
    .field
      = f.label :price
      = f.text_field :price, class: "input-block-level"
    .field
      = f.label :photo
      = f.file_field :photo, class: "input-block-level"
    .field
      = f.label :size
      = f.number_field :size, class: "input-block-level"
    .field
      = f.label :property_for
      = f.text_field :property_for, class: "input-block-level"
    .field
      = f.label :landmark
      = f.text_field :landmark, class: "input-block-level"
    .field
      = f.label :location
      = f.text_field :location, class: "input-block-level"
    .field
      = f.label :property_in
      = f.text_field :property_in, class: "input-block-level"
    .field
      = f.label :total_no_of_floors
      = f.text_field :total_no_of_floors, class: "input-block-level"
    .field
      = f.label :bed_rooms
      = f.number_field :bed_rooms, class: "input-block-level"
  .span5
    .field
      = f.label :total_rooms
      = f.number_field :total_rooms, class: "input-block-level"
    .field
      = f.label :bathrooms
      = f.number_field :bathrooms, class: "input-block-level"
    .field
      = f.label :parking
      = f.text_field :parking, class: "input-block-level"
    .field
      = f.label :flooring
      = f.text_field :flooring, class: "input-block-level"
    .field
      = f.label :furnishing
      = f.text_field :furnishing, class: "input-block-level"
    .field
      = f.label :open_for_inspection
      = f.text_field :open_for_inspection, class: "input-block-level"
    .field
      = f.label :address
      = f.text_field :address, class: "input-block-level"
    .field
      = f.label :city
      = f.text_field :city, class: "input-block-level"
    .field
      = f.label :district
      = f.text_field :district, class: "input-block-level"
    .field
      = f.label :zipcode
      = f.text_field :zipcode   , class: "input-block-level"
    .field
      = f.label :available_from
      = f.date_select :available_from
  .actions
    = f.submit 'Save', class: 'btn btn-large btn-primary'
