%p#notice= notice

%p
  %b Title:
  = @property.title
%p
  %b Short desc:
  = @property.short_desc
%p
  %b Price:
  = @property.price
%p
  %b Size:
  = @property.size
%p
  %b Property for:
  = @property.property_for
%p
  %b Landmark:
  = @property.landmark
%p
  %b Location:
  = @property.location
%p
  %b Property in:
  = @property.property_in
%p
  %b Total no of floors:
  = @property.total_no_of_floors
%p
  %b Bed rooms:
  = @property.bed_rooms
%p
  %b Total rooms:
  = @property.total_rooms
%p
  %b Bathrooms:
  = @property.bathrooms
%p
  %b Parking:
  = @property.parking
%p
  %b Flooring:
  = @property.flooring
%p
  %b Furnishing:
  = @property.furnishing
%p
  %b Open for inspection:
  = @property.open_for_inspection
%p
  %b Address:
  = @property.address
%p
  %b City:
  = @property.city
%p
  %b District:
  = @property.district
%p
  %b Zipcode:
  = @property.zipcode
%p
  %b Available from:
  = @property.available_from

= link_to 'Edit', edit_property_path(@property)
\|
= link_to 'Back', properties_path
